/*estilos globales y letras*/

* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

body {
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    background-color: wheat;
}

.h1_eventos {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.h1_login {
    margin-top: 3%;
    margin-bottom: 0%;
}

.h1_evento_registrado {
    margin-top: 2%;
    margin-bottom: 4%;
}


/*Barra de navegacion horizontal*/

.menu {
    width: 100%;
    padding: 0;
    top: 0;
    width: 100%;
    position: sticky;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4D9C87;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-decoration: none
}

li {
    float: left;
    text-decoration: none
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #4CAF50;
    text-decoration: none;
}

li:last-child {
    border-right: none;
    float: right;
    text-decoration: none
}

.activo {
    background-color: #4CAF50;
    text-decoration: none
}


/*fin barra de navegacion*/


/*contenido de la pagina, div principal*/

.contenido {
    width: 100%;
    height: 100%;
}

.contenido_centrado {
    align-items: center;
    align-content: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#row-backcolor {
    background-color: #ffcb85;
}

.flex-cv {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}


/*fin div principal*/


/* tablas*/

.tabla_principal {
    width: 100%;
}

.tabla_evento {
    width: 100%;
    margin-top: 2%;
}

.imgevento {
    width: 700px;
    height: 500px;
    border-radius: 5px;
}

.tablaadmin {
    width: 100%;
}


/*fin tablas*/


/*Botones*/

.boton {
    float: center;
    border-radius: 9px;
    font-size: 25px;
    text-align: center;
    background-color: #4D9C87;
    border-bottom: 3px solid black;
}

.boton:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: 1px solid;
}


/*fin botones*/


/*cuadro de login e inscripción*/

.cuadro_login {
    margin-top: 3%;
    width: 650px;
    height: 500px;
    border: 5px solid #D4233F;
    background: #E7E2CB;
}

.cuadro_inscripcion {
    width: 650px;
    height: 700px;
    border: 5px solid #D4233F;
    background: #E7E2CB;
    margin-top: 4%;
}


/*fin cuadro logins e inscripción*/


/*estilos a formularios*/

.login {
    background-image: url("../img/img_login.jpg");
    overflow-x: hidden;
    overflow-y: hidden;
}

.fondoeventos {
    background-color: white;
}

.formulario_login {
    padding: 10%;
}

.formulario_inscripcion {
    padding: 10%;
}

.inputlogin {
    width: 300px;
    height: 45px;
    border-radius: 7px;
    border-color: #D4233F;
    background-color: #e6dbd5;
    outline: none;
}

.botonlogin {
    width: 300px;
    height: 45px;
    border-radius: 7px;
    border-color: #D4233F;
    background-color: #e6dbd5;
    font-size: 15px;
    font-weight: 500;
    transition: all 1s ease;
    position: relative;
}

.botonlogin:hover {
    background: #D4233F;
    color: #fff !important;
}

.botonloginvolver {
    width: 300px;
    height: 45px;
    border-radius: 7px;
    border-color: #1564cc;
    background-color: #e6dbd5;
    font-size: 15px;
    font-weight: 500;
    transition: all 1s ease;
    position: relative;
}

.botonloginvolver:hover {
    background: #1564cc;
    color: #fff !important;
}

.botonhistorial {
    width: 300px;
    height: 45px;
    border-radius: 7px;
    border-color: whitesmoke;
    background-color: violet;
}

.lider {
    color: black;
    align-content: right;
    text-align: right;
    padding-right: 20px;
}

.divlogout {
    align-content: right;
    text-align: right;
    padding-right: 20px;
}

.mensajelogin {
    color: black;
    font-size: 20px;
    text-decoration: underline;
}